.analyze-button {
    z-index: 999999;
    font-size: 12px;
    background-color: #6d6d6d;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.analyze-button:hover {
    background-color: #000000;
}

.side-panel {
    background-color: #566965;
    color: rgb(243, 186, 186);
    position: fixed;
    top: 20px; 
    right: 20px;
    width: 380px; 
    height: 90vh;
    overflow-y: auto;
    z-index: 999999;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}